.card {
  position: relative;
  width: 100%;
  height: 361px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.card__picture {
  width: 100%;
  height: 282px;
}

.card__image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  cursor: pointer;
}

.card__place-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 20px;
}

.card__place-title {
  width: 100%;
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  white-space: nowrap;
  margin: 0;
}

.card__icon-container {
  display: flex;
  align-items: center;
}

.card__like-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 21px;
  height: 19px;
  transition: opacity 0.3s ease;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-icon {
  width: 100%;
  height: 100%;
}

.card__like-icon_active {
  filter: brightness(0) saturate(100%) invert(25%) sepia(98%) saturate(7480%) hue-rotate(358deg) brightness(101%) contrast(117%);
}

.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 18px;
  height: 19px;
  transition: opacity 0.3s ease;
}

.card__delete-button:hover {
  opacity: 0.6;
}

.card__delete-icon {
  width: 100%;
  height: 100%;
}