.header {
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding-bottom: 41px;
    margin-bottom: 40px;
}

.header__logo {
    width: 173px;
    height: 33px;
}

@media screen and (max-width: 920px) {
    .header {
        padding-bottom: 32px;
        margin-bottom: 42px;
    }
    
    .header__logo {
        width: 126px;
        height: 24px;
        margin-left: 27px;
    }
}